#game-container{
    display: none;
    flex-direction: row;
    width: 100vw;
    height: 60vh;
}

#log{
    width: 20%;
    height:70vh;
    border-radius:2%;
    opacity: 80%;
    padding: 10px;
    font-weight: 200;
    background-color: blueviolet;
}


#game {
  /* background-image: url("lined_paper.jpg");*/
  margin-left: 10%;
  margin-top: 10px;
  border-radius: 20%;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

#userDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5vh;
}

#game > div {
  border: 10% solid black;

  box-sizing: border-box;
  background: whitesmoke;
  width: 10%;
  height: 10%;
  position: relative;
}

#game > div > input{
    width: 100%;
    height: 100%;
}

#username {
  width: 140px;
  height: 40px;
  margin-top: 0.3vw;
  font-size: larger;
  text-align: center;
}

#roomCreate {
  width: 100px;
  height: 50px;
  margin-top: 0.3vw;
}

#roomId {
  width: 150px;
  height: 40px;

  background-color: cyan;
  border: 2px solid red;
  border-radius: 15px;
  font-size: larger;
  text-align: center;
  display: none;
}

#roomCode {
  width: 140px;
  height: 50px;
  margin-top: 0.3vw;
  font-size: larger;
  text-align: center;
}

#roomJoin {
  width: 100px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 100px;
}

input:focus {
  background-color: grey;
}

/*#game>div>div{
    width: 50px;
    height: 50px;
    background-color: solid blue;
}*/
